<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

   <style>
    body{
        background-color: #659feb;
    }
   </style>

   

        
        <div  class="container">
            <center style=" margin-top: 150px; ">
            <h1>  Iltimos login qiling  </h1>
            <form action"" method="post">
            {% csrf_token %}


                
                <h5>login</h5>
                <span>{{ form.username }}</span>  



                <h5>parol</h5>
                <span>{{ form.password }}</span>

          

                        <br>
                <br>
                <!-- <h5>kirish</h5> -->
            
                <button type="submit" class="btn btn-outline-dark">saqlash</button>
            
            </form>


                        <hr>


            <h4>Hali ro'yhatdan o'tmaganmisiz? <span><a href="{% url 'create_user' %}">register</a></span></h4>
 
            </center>
        </div>
           
  

        

        
    
</body>
</html>
<!-- <button type="submit" class="btn btn-outline-primary">saqlash</button> -->
            <!-- <button type="button" class="btn btn-outline-danger">saqlash</button> -->